parameters:
    level: 8 # we goin too strictly )
    paths:
        - app/
        - database/factories/
        - database/seeders/
    excludePaths:
        - database/migrations/*
        - storage/*
        - resources/views/*
        - public/*

    # remove ignore iterableValue, bette fix types/return types
    ignoreErrors: []

    reportMaybesInMethodSignatures: false

    # Helping PHPStan with dynamic types from Eloquent
    universalObjectCratesClasses:
        - Illuminate\Http\Request
        - Illuminate\Support\Optional